<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offshore.platform.mapper.WorkOrderCheckItemMapper">
    <resultMap id="BaseResultMap" type="com.offshore.platform.entity.WorkOrderCheckItem">
        <id column="id" property="id" />
        <result column="work_order_id" property="workOrderId" />
        <result column="record_id" property="recordId" />
        <result column="item_code" property="itemCode" />
        <result column="item_name" property="itemName" />
        <result column="item_type" property="itemType" />
        <result column="item_desc" property="itemDesc" />
        <result column="required_flag" property="requiredFlag" />
        <result column="check_result" property="checkResult" />
        <result column="check_value" property="checkValue" />
        <result column="check_unit" property="checkUnit" />
        <result column="abnormal_flag" property="abnormalFlag" />
        <result column="abnormal_desc" property="abnormalDesc" />
        <result column="checked_by" property="checkedBy" />
        <result column="checked_at" property="checkedAt" />
        <result column="attachment_required_flag" property="attachmentRequiredFlag" />
        <result column="attachment_count" property="attachmentCount" />
        <result column="ai_required_flag" property="aiRequiredFlag" />
        <result column="ai_result_count" property="aiResultCount" />
        <result column="sort_order" property="sortOrder" />
        <result column="client_created_at" property="clientCreatedAt" />
        <result column="client_updated_at" property="clientUpdatedAt" />
        <result column="local_id" property="localId" />
        <result column="server_id" property="serverId" />
        <result column="version" property="version" />
        <result column="sync_status" property="syncStatus" />
        <result column="device_id" property="deviceId" />
        <result column="operator_id" property="operatorId" />
        <result column="conflict_flag" property="conflictFlag" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="deleted_flag" property="deletedFlag" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="remark" property="remark" />
    </resultMap>

    <sql id="BaseColumnList">
        id, work_order_id, record_id, item_code, item_name, item_type, item_desc, required_flag, check_result, check_value, check_unit, abnormal_flag, abnormal_desc, checked_by, checked_at, attachment_required_flag, attachment_count, ai_required_flag, ai_result_count, sort_order, client_created_at, client_updated_at, local_id, server_id, version, sync_status, device_id, operator_id, conflict_flag, created_at, updated_at, deleted_flag, created_by, updated_by, remark
    </sql>

    <insert id="insert" parameterType="com.offshore.platform.entity.WorkOrderCheckItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO work_order_check_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workOrderId != null">work_order_id,</if>
            <if test="recordId != null">record_id,</if>
            <if test="itemCode != null">item_code,</if>
            <if test="itemName != null">item_name,</if>
            <if test="itemType != null">item_type,</if>
            <if test="itemDesc != null">item_desc,</if>
            <if test="requiredFlag != null">required_flag,</if>
            <if test="checkResult != null">check_result,</if>
            <if test="checkValue != null">check_value,</if>
            <if test="checkUnit != null">check_unit,</if>
            <if test="abnormalFlag != null">abnormal_flag,</if>
            <if test="abnormalDesc != null">abnormal_desc,</if>
            <if test="checkedBy != null">checked_by,</if>
            <if test="checkedAt != null">checked_at,</if>
            <if test="attachmentRequiredFlag != null">attachment_required_flag,</if>
            <if test="attachmentCount != null">attachment_count,</if>
            <if test="aiRequiredFlag != null">ai_required_flag,</if>
            <if test="aiResultCount != null">ai_result_count,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="clientCreatedAt != null">client_created_at,</if>
            <if test="clientUpdatedAt != null">client_updated_at,</if>
            <if test="localId != null">local_id,</if>
            <if test="serverId != null">server_id,</if>
            <if test="version != null">version,</if>
            <if test="syncStatus != null">sync_status,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="operatorId != null">operator_id,</if>
            <if test="conflictFlag != null">conflict_flag,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="deletedFlag != null">deleted_flag,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="workOrderId != null">#{workOrderId},</if>
            <if test="recordId != null">#{recordId},</if>
            <if test="itemCode != null">#{itemCode},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="itemType != null">#{itemType},</if>
            <if test="itemDesc != null">#{itemDesc},</if>
            <if test="requiredFlag != null">#{requiredFlag},</if>
            <if test="checkResult != null">#{checkResult},</if>
            <if test="checkValue != null">#{checkValue},</if>
            <if test="checkUnit != null">#{checkUnit},</if>
            <if test="abnormalFlag != null">#{abnormalFlag},</if>
            <if test="abnormalDesc != null">#{abnormalDesc},</if>
            <if test="checkedBy != null">#{checkedBy},</if>
            <if test="checkedAt != null">#{checkedAt},</if>
            <if test="attachmentRequiredFlag != null">#{attachmentRequiredFlag},</if>
            <if test="attachmentCount != null">#{attachmentCount},</if>
            <if test="aiRequiredFlag != null">#{aiRequiredFlag},</if>
            <if test="aiResultCount != null">#{aiResultCount},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="clientCreatedAt != null">#{clientCreatedAt},</if>
            <if test="clientUpdatedAt != null">#{clientUpdatedAt},</if>
            <if test="localId != null">#{localId},</if>
            <if test="serverId != null">#{serverId},</if>
            <if test="version != null">#{version},</if>
            <if test="syncStatus != null">#{syncStatus},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="operatorId != null">#{operatorId},</if>
            <if test="conflictFlag != null">#{conflictFlag},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="deletedFlag != null">#{deletedFlag},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.offshore.platform.entity.WorkOrderCheckItem">
        UPDATE work_order_check_item
        <set>
            <if test="workOrderId != null">work_order_id = #{workOrderId},</if>
            <if test="recordId != null">record_id = #{recordId},</if>
            <if test="itemCode != null">item_code = #{itemCode},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="itemType != null">item_type = #{itemType},</if>
            <if test="itemDesc != null">item_desc = #{itemDesc},</if>
            <if test="requiredFlag != null">required_flag = #{requiredFlag},</if>
            <if test="checkResult != null">check_result = #{checkResult},</if>
            <if test="checkValue != null">check_value = #{checkValue},</if>
            <if test="checkUnit != null">check_unit = #{checkUnit},</if>
            <if test="abnormalFlag != null">abnormal_flag = #{abnormalFlag},</if>
            <if test="abnormalDesc != null">abnormal_desc = #{abnormalDesc},</if>
            <if test="checkedBy != null">checked_by = #{checkedBy},</if>
            <if test="checkedAt != null">checked_at = #{checkedAt},</if>
            <if test="attachmentRequiredFlag != null">attachment_required_flag = #{attachmentRequiredFlag},</if>
            <if test="attachmentCount != null">attachment_count = #{attachmentCount},</if>
            <if test="aiRequiredFlag != null">ai_required_flag = #{aiRequiredFlag},</if>
            <if test="aiResultCount != null">ai_result_count = #{aiResultCount},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="clientCreatedAt != null">client_created_at = #{clientCreatedAt},</if>
            <if test="clientUpdatedAt != null">client_updated_at = #{clientUpdatedAt},</if>
            <if test="localId != null">local_id = #{localId},</if>
            <if test="serverId != null">server_id = #{serverId},</if>
            <if test="version != null">version = #{version},</if>
            <if test="syncStatus != null">sync_status = #{syncStatus},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="operatorId != null">operator_id = #{operatorId},</if>
            <if test="conflictFlag != null">conflict_flag = #{conflictFlag},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="deletedFlag != null">deleted_flag = #{deletedFlag},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumnList" />
        FROM work_order_check_item
        WHERE id = #{id}
          AND deleted_flag = 0
    </select>

    <select id="selectByRecordId" parameterType="long" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumnList" />
        FROM work_order_check_item
        WHERE record_id = #{recordId}
          AND deleted_flag = 0
        ORDER BY sort_order ASC, id ASC
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumnList" />
        FROM work_order_check_item
        WHERE deleted_flag = 0
        ORDER BY id DESC
    </select>

    <update id="softDeleteById" parameterType="long">
        UPDATE work_order_check_item
        SET deleted_flag = 1
        WHERE id = #{id}
    </update>
</mapper>
