<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offshore.platform.mapper.WorkOrderTemplateMapper">
    <resultMap id="BaseResultMap" type="com.offshore.platform.entity.WorkOrderTemplate">
        <id column="id" property="id" />
        <result column="template_code" property="templateCode" />
        <result column="template_name" property="templateName" />
        <result column="work_type" property="workType" />
        <result column="default_priority" property="defaultPriority" />
        <result column="default_work_content" property="defaultWorkContent" />
        <result column="default_material_desc" property="defaultMaterialDesc" />
        <result column="default_duration_hours" property="defaultDurationHours" />
        <result column="enabled_flag" property="enabledFlag" />
        <result column="local_id" property="localId" />
        <result column="server_id" property="serverId" />
        <result column="version" property="version" />
        <result column="sync_status" property="syncStatus" />
        <result column="device_id" property="deviceId" />
        <result column="operator_id" property="operatorId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="deleted_flag" property="deletedFlag" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="remark" property="remark" />
    </resultMap>

    <sql id="BaseColumnList">
        id, template_code, template_name, work_type, default_priority, default_work_content, default_material_desc, default_duration_hours, enabled_flag, local_id, server_id, version, sync_status, device_id, operator_id, created_at, updated_at, deleted_flag, created_by, updated_by, remark
    </sql>

    <insert id="insert" parameterType="com.offshore.platform.entity.WorkOrderTemplate" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO work_order_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateCode != null">template_code,</if>
            <if test="templateName != null">template_name,</if>
            <if test="workType != null">work_type,</if>
            <if test="defaultPriority != null">default_priority,</if>
            <if test="defaultWorkContent != null">default_work_content,</if>
            <if test="defaultMaterialDesc != null">default_material_desc,</if>
            <if test="defaultDurationHours != null">default_duration_hours,</if>
            <if test="enabledFlag != null">enabled_flag,</if>
            <if test="localId != null">local_id,</if>
            <if test="serverId != null">server_id,</if>
            <if test="version != null">version,</if>
            <if test="syncStatus != null">sync_status,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="operatorId != null">operator_id,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="deletedFlag != null">deleted_flag,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="templateCode != null">#{templateCode},</if>
            <if test="templateName != null">#{templateName},</if>
            <if test="workType != null">#{workType},</if>
            <if test="defaultPriority != null">#{defaultPriority},</if>
            <if test="defaultWorkContent != null">#{defaultWorkContent},</if>
            <if test="defaultMaterialDesc != null">#{defaultMaterialDesc},</if>
            <if test="defaultDurationHours != null">#{defaultDurationHours},</if>
            <if test="enabledFlag != null">#{enabledFlag},</if>
            <if test="localId != null">#{localId},</if>
            <if test="serverId != null">#{serverId},</if>
            <if test="version != null">#{version},</if>
            <if test="syncStatus != null">#{syncStatus},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="operatorId != null">#{operatorId},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="deletedFlag != null">#{deletedFlag},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.offshore.platform.entity.WorkOrderTemplate">
        UPDATE work_order_template
        <set>
            <if test="templateCode != null">template_code = #{templateCode},</if>
            <if test="templateName != null">template_name = #{templateName},</if>
            <if test="workType != null">work_type = #{workType},</if>
            <if test="defaultPriority != null">default_priority = #{defaultPriority},</if>
            <if test="defaultWorkContent != null">default_work_content = #{defaultWorkContent},</if>
            <if test="defaultMaterialDesc != null">default_material_desc = #{defaultMaterialDesc},</if>
            <if test="defaultDurationHours != null">default_duration_hours = #{defaultDurationHours},</if>
            <if test="enabledFlag != null">enabled_flag = #{enabledFlag},</if>
            <if test="localId != null">local_id = #{localId},</if>
            <if test="serverId != null">server_id = #{serverId},</if>
            <if test="version != null">version = #{version},</if>
            <if test="syncStatus != null">sync_status = #{syncStatus},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="operatorId != null">operator_id = #{operatorId},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="deletedFlag != null">deleted_flag = #{deletedFlag},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumnList" />
        FROM work_order_template
        WHERE id = #{id}
          AND deleted_flag = 0
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumnList" />
        FROM work_order_template
        WHERE deleted_flag = 0
        ORDER BY id DESC
    </select>

    <update id="softDeleteById" parameterType="long">
        UPDATE work_order_template
        SET deleted_flag = 1
        WHERE id = #{id}
    </update>
</mapper>
